.cat-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20vh;
}
.cat-links{
    text-decoration: none;
    color: black;
    margin: 10px;
    text-align: justify;
}
.cat-container-img{
    width: 100%;
    height: 400px ;
    object-fit: cover;
    background-color: black;
}
.container-img-des{
    padding: 200px;
}
.container-img-h1{
    font-family: Kaushan Script;
    font-weight: 400;
    font-size: 68px;
    line-height: 98.67px;
    letter-spacing: 0%;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.container-img-p{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center; 
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.summer-collection{
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
}
.cat-container-products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; /* Adjust the gap between cards as needed */
}
