.footer{
    background: rgb(209,209,209);
    background: linear-gradient(270deg, rgba(209,209,209,1) 0%, rgba(12,2,2,1) 8%);
    color: white;
    height:auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column;
    bottom: 0;
    z-index: 1000;
}
