.footer{
    background: #0A0A14;
    color: white;
    height:auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column;
    position: relative;
    bottom: 0;
    z-index: 1000;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer-logo{
    padding-top: 17px;
    margin-left: -42px;
}
.footer-logo img{
    height: 141px;
    width: 200px;
    margin-left: -42px;
}
.footer h1{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
.Contact-us{
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.Customer-Support{
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.footer-socials{
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

