/* Removed body styles and applied them to a wrapper instead */
.wrapper {
  font-family: "Arial", sans-serif; 
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensures full viewport height */
}

/* Navigation bar styles */
nav {
  background: #0A0A14;
  height: 13%;
  width: 100%;
  top: 0;
  z-index: 1;
  position: fixed; 
}

/* Logo styling */
.lemon-regular {
  font-family: "Lemon", serif;
  font-weight: 400;
  font-style: normal;
}


#logo {
  color: white;
font-family: "Lemon";
font-size: 43px;

}

#collections{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight:lighter;
font-size: 13px;
display: block;
letter-spacing: 12px;
padding-left: 5px;
padding-bottom: 5px;
color: white;
}

/* Navbar link styles */
.navbar {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.navbar a {
  color: white;
  font-size: 20px;
  margin-top: 30px;
}

.navbar a:hover {
  font-size: 25px;
  text-decoration: underline;
  transition: 0.3s all;
}

.navbar a:active {
  text-decoration: underline;
}

/* Input field styling */
#search {
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 30px;
  margin-left: 100px;
  outline: none;
}

/* Social media icons styling */
.icons img {
  display: inline-flex;
  margin-left: 20px;
  margin-top: 20px;
}
