body{
    background-color: rgb(243, 239, 239);

}

#product-container{
    display: flex;
   width: 80%;
   height: 700px;
   background-color: rgb(243, 239, 239);
   

   margin: 150px;
   flex-direction: row;
}

#product-left{
 display: flex;
    width: 50%;
    height: 100%;
    background-color: rgb(243, 239, 239);
}

#product-img{

    padding-left: 80px;
    padding-top: 50px;

    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);

}

#product-right{

    display: flex;
    width: 50%;
    height: 100%;
    background-color: rgb(243, 239, 239);
    flex-direction: column;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 27px;
margin-top: 130px;
}

.product-para{

    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: 400;
    width: 380px;
}


#product-material{

    display: flex;
    flex-direction: row;
    
    font-size: 14px;
    font-weight: 100;
    gap: 5px; 
}

.product-material-div{
width:auto;
background-color: white;

padding: 5px;
gap: 5px; 

}

#product-button{
 text-align: center;
    width: 360px;
    height: 40px;
    background-color: black;
color: white;
margin-top: 25px;

font-family :Arial, Helvetica, sans-serif;
font-size: 20px;
font-weight: 400;
border-radius: 5px;
cursor: pointer;
}